/*------------------\
    Typography   
\------------------*/
.qr {
  font-family: "Outfit", sans-serif;
}

.qr__info__title {
  color: $header-text-color;
  font-size: rem(22);
  font-weight: 700;
  line-height: rem(28);
}

.qr__info__body {
  color: $body-text-color;
  font-size: rem(15);
  font-weight: 400;
  line-height: rem(19);
}
