// Colors - Color Pallete
$lite-blue: hsla(212, 45%, 89%, 1);
$desaturated-white: hsla(0, 0%, 0%, 0.05);
$blue: hsla(216, 95%, 58%, 1);
$dark-blue: hsla(218, 44%, 22%, 1);
$gray: hsla(220, 15%, 55%, 1);

// Colors - Text colors
$header-text-color: $dark-blue;
$body-text-color: $gray;